/* RANDOM RACE CSS */

body {
    text-align: center;
    background: url("../images/checkered_flag.png") center;
}

#racetrack {
    background: url("../images/road.jpg") left center repeat-x;
    height: 330px;
    border-right: double 20px red;
    box-sizing: border-box;
    margin: 40px 0;
}

.car {
    display: block;
    position: relative;
}

#car1 {top: 30px}
#car2 {top: 100px}

#raceInfoContainer {
    width: 80%;
    margin: 40px auto 0;
    background: #333;
    height: 200px;
}
h1 {
    border: ridge 24px white;
    width: 250px;
    height: 150px;
    margin: 10px auto;
    
    
}
span#green {
    color: #77b82f;
    font-size: 48px;
    font-weight: bold;
}

span#red {
    color: #b82f3e;
    font-size: 48px;
    font-weight: bold;
}


h2 {
    color: white;
    text-transform: uppercase;
    border-bottom: solid 1px white;
    padding: 20px 0;
}

.raceInfo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 50%;
    float: left;
}

span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    color: white;
}

#raceInfo1 {
    color: #77b82f;
}

#raceInfo2 {
    color: #b82f3e;
}

input {
    background: #77b82f;
    color: white;
    padding: 10px 20px;
    border: solid 1px #444;
}

#reset {
    background: #fc3;
    color: #444;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}